.nav {
  background-color: aqua;
}

ul {
  min-height: 10vh;
  width: 100vw;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
li {
  display: inline;
}

Link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  ul {
    flex-direction: row;
  }
}
