.signup-container {
  height: 90vh;
  background-image: url("./img/bg2.jpg");
  background-size: cover;
}
.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  background-color: white;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  border-radius: 15px;
}
