.homepage-heading {
  z-index: 5;
  height: 10vh;
  min-height: fit-content;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

#hotel-name {
  color: white;
  font-weight: bolder;
  font-family: cursive;
}
#hotel-name:hover {
  color: gold;
}
